<p>Hi <%= params[:user].object[:name] %>,</p> <br/>

We all forget our passwords sometimes.<br/>

If this has happened to you, here is code to reset yours (valid for 15min): <br/>



  <strong>   <%= params[:user].object[:reset_password_token] %> </strong>
 

